#!/system/xbin/bash
. /system/etc/sshd.conf
clear

echo "---CONFIGURE-SSH-DAEMON---"
echo ""
read -s -p "Enter password:" CPASS
echo ""
until [ "$CPASS" = "$PASS" ]; do
read -s -p "Wrong password, try again:" CPASS
echo ""
done

mount -o remount,rw /system

echo ""

read -s -p "Enter new password:" NEWPASS
echo ""
while [[ -z "$NEWPASS" ]]; do
echo ""
echo "Password CAN NOT be blank"
echo ""
read -s -p "Enter new password:" NEWPASS;
echo ""
done

sed -i -e"s/^PASS=.*/PASS=$NEWPASS/" /etc/sshd.conf
if test $? -eq 0; then
echo 'password written'
else 
echo 'write attempt failed!'
fi

echo ""

read -p "Enter new port: " NEWPORT
if test "$NEWPORT" = ""; then
echo "DEFAULT PORT #2222"; sed -i -e"s/^PORT=.*/PORT=2222/" /etc/sshd.conf 
else
sed -i -e"s/^PORT=.*/PORT=$NEWPORT/" /etc/sshd.conf 
fi

if test $? -eq 0; then
echo "port set"
else 
echo "write attempt failed!"
fi 

echo ""

echo "---CONFIGURE-REVERSE-SSH---"

echo ""

read -p "Enter reverse listen port: " NEWREVPORT
if test "$NEWREVPORT" = ""; then
echo "DEFAULT IS BLANK"; sed -i -e"s/^REVPORT=.*/REVPORT=/" /etc/sshd.conf 
else
sed -i -e"s/^REVPORT=.*/REVPORT=$NEWREVPORT/" /etc/sshd.conf 
fi

if test $? -eq 0; then
echo "port set"
else 
echo "write attempt failed!"
fi

echo ""

read -p "Enter remote server: " NEWREMSERV
if test "$NEWREMSERV" = ""; then
echo "DEFAULT IS BLANK"; sed -i -e"s/^REMSERV=.*/REMSERV=/" /etc/sshd.conf 
else
sed -i -e"s/^REMSERV=.*/REMSERV=$NEWREMSERV/" /etc/sshd.conf 
fi

if test $? -eq 0; then
echo "server set"
else 
echo "write attempt failed!"
fi

echo ""

read -p "Enter remote serv port: " NEWREMSERVPORT
if test "$NEWREMSERVPORT" = ""; then
echo "DEFAULT IS 22"; sed -i -e"s/^REMSERVPORT=.*/REMSERVPORT=22/" /etc/sshd.conf 
else
sed -i -e"s/^REMSERVPORT=.*/REMSERVPORT=$NEWREMSERVPORT/" /etc/sshd.conf 
fi

if test $? -eq 0; then
echo "port set"
else 
echo "write attempt failed!"
fi

echo ""

read -p "Enter remote username: " NEWREMUSER
if test "$NEWREMUSER" = ""; then
echo "DEFAULT IS BLANK"; sed -i -e"s/^REMUSER=.*/REMUSER=/" /etc/sshd.conf 
else
sed -i -e"s/^REMUSER=.*/REMUSER=$NEWREMUSER/" /etc/sshd.conf 
fi

if test $? -eq 0; then
echo "username set"
else 
echo "write attempt failed!"
fi

echo ""

while true 
  do
    read -r -p 'Enable reverse ssh? ' choice
    case "$choice" in
    n|N|no|No|NO) echo "Reverse SSH disabled"; rm /etc/init.d/99sshtunnel
    break;;
    y|Y|yes|Yes|YEs|YES|YeS|yeS|yES) echo "Reverse SSH enabled";
    cp /etc/dropbear/99sshtunnel /etc/init.d/99sshtunnel; chmod 755 /etc/init.d/99sshtunnel;
    break;;
    *) echo 'Nothing done'; 
    break;;
  esac
  done

echo ""

echo "---REMOVE-OLD-KEYS---"
echo ""
while true 
  do
    read -r -p 'Remove old key(s)? ' choice
    case "$choice" in
    n|N|no|No|NO) echo "Keeping old key(s)";
    break;;
    y|Y|yes|Yes|YEs|YES|YeS|yeS|yES) echo "Removing old key(s)";
    rm /etc/dropbear/data/br.com.bott.droidsshd/files/etc/dropbear_*_host_key;
    break;;
    *) echo 'Keeping old key(s)'; 
    break;;
  esac
  done

echo ""

echo "---GENERATING-RSA-KEY---"; dropbearkey -t rsa -f /etc/dropbear/data/br.com.bott.droidsshd/files/etc/dropbear_rsa_host_key; chmod 400 /etc/dropbear/data/br.com.bott.droidsshd/files/etc/dropbear_rsa_host_key

echo ""

echo "---GENERATING-DSS-KEY---"; dropbearkey -t dss -f /etc/dropbear/data/br.com.bott.droidsshd/files/etc/dropbear_dss_host_key; chmod 400 /etc/dropbear/data/br.com.bott.droidsshd/files/etc/dropbear_dss_host_key 

echo ""

read -p "Enter path to public key: "  PUBKEYLOC
echo ""
echo "---CONVERTING-PUBLIC-KEY---"; mkdir /system/etc/.ssh; mkdir /sdcard/.ssh; rm /system/etc/.ssh/reverse_ssh_key; dropbearconvert openssh dropbear $PUBKEYLOC /system/etc/.ssh/reverse_ssh_key; chmod 400 /system/etc/.ssh/reverse_ssh_key

echo ""; echo "Restarting dropbear with new settings..."

killall dropbear

echo ""

dropbear

echo ""

echo ""; echo "Press RETURN to continue"; read return; clear

mount -o remount,ro /system

exit 0
